.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 3.4375rem;
  background-color: #F55A5A;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.nav-title {
  color: #FFF;
  font-size: 0.90381rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.04rem;
}

.nav-title-line-height-adjuster {
  position: relative;
  bottom: 0.04em;
}